#!/usr/bin/env bash

export PATH="$HOME/.local/bin/:$PATH"

{{ range $setup, $value := .setups }}

  {{ if $value }}


    echo "Install Packages for: {{ $setup }}"

    echo "installing from data packages"

    # Linux self installing packages
    echo "Installing self installing packages"

    {{ range index $.packages $setup "linux" "linux_cmd" }}
      bash -c {{ . | quote }}
    {{ end }}

    {{ range index $.packages $setup "linux" "brews" -}}
        brew install {{ . | quote }}
    {{ end -}}

    # Native packages

    {{ if or (eq $.osid "linux-debian") (eq $.osid "linux-ubuntu") (eq $.osid "linux-debian ubuntu") (eq $.osid "linux-ubuntu debian") }}
        ## Debian
        echo "Installing Debian Packages"

        {{ range index $.packages $setup "linux" "apt" }}
        {{ $.superuser }} apt install -y {{. | quote }}
        {{ end }}

        {{ range index $.packages $setup "linux" "apt_junk" }}
        {{ $.superuser }} apt remove -y {{ . | quote }}
        {{ end }}

    {{ else if eq $.osid "linux-fedora" }}
        ## Fedora
        echo "Installing RPM packages"

        {{ $.superuser }} dnf install -y {{ range index $.packages $setup "linux" "apt" }} {{.}}{{ end }}
        {{ range index $.packages $setup "linux" "apt" }}
        {{ $.superuser }} dnf install -y {{ . | quote }}
        {{ end }}

        {{ range index $.packages $setup "linux" "apt_junk" }}
        {{ $.superuser }} dnf remove -y {{ . | quote }}
        {{ end }}


    {{ else if eq $.osid "linux-alpine" }}
        ## Alpine
        echo "Installing APK packages"

        {{ $.superuser }} apk add --no-cache {{ range index $.packages $setup "linux" "apt" }} {{.}}{{ end }}
        {{ range index $.packages $setup "linux" "apt" }}
        {{ $.superuser }} apk add --no-cache {{ . | quote }}
        {{ end }}

        {{ range index $.packages $setup "linux" "apt_junk" }}
        {{ $.superuser }} apk del --no-cache {{ . | quote }}
        {{ end }}


    {{ else if eq $.osid "linux-arch" }}
        ## Arch
        echo "Installing Arch packages"

        {{ $.superuser }} pacman -Syu --needed {{ range index $.packages $setup "linux" "apt" }} {{.}}{{end}}

    {{ end }}


    # Python packages
    echo "Installing Python packages with pipx or pip"

    {{ range index $.packages $setup "linux" "pips" }}
      if command -v pipx &>/dev/null; then
        {{ $.superuser }} pipx install {{ . | quote }}
      else
        {{ $.superuser }} pip install {{ . | quote }}
      fi
    {{ end }}

  {{ end }}

{{ end }}
