#!/bin/bash


{{ range $setup, $value := .setups }}

  {{ if $value }}

    {{ range index $.packages $setup "darwin" "junk" -}}
        dockutil --no-restart --remove {{ . | quote }} || true
    {{ end -}}

    {{ range index $.packages $setup "darwin" "brews" -}}
        brew install {{ . | quote }}
    {{ end -}}

    {{ range index $.packages $setup "darwin" "casks" -}}
        brew install --cask {{ . | quote }}
    {{ end -}}

    {{ range index $.packages $setup "darwin" "pips" -}}
        pipx install {{ . | quote }}
    {{ end }}

  {{ end }}

{{ end }}