#!/bin/bash

{{ range .packages.base.darwin.brews -}}
    brew install {{ . | quote }}
{{ end -}}

{{ range .packages.base.darwin.casks -}}
    brew install --cask {{ . | quote }}
{{ end -}}

{{ range .packages.base.darwin.pips -}}
    pipx install {{ . | quote }}
{{ end }}
