#!/bin/bash

{{ range $setup, $value := .setups }}

  {{ if $value }}

    {{ range index $.packages $setup "darwin" "pnpm" }}
      pnpm install -g {{. | quote }}
    {{ end }}

  {{ end }}

{{ end }}
