{{ if eq .chezmoi.os "darwin" -}}
    #!/bin/bash

    brew bundle --file=/dev/stdin <<EOF
    {{ range .packages.basic.darwin.brews -}}
        brew {{ . | quote }}
    {{ end -}}

    {{ range .packages.basic.darwin.casks -}}
        cask {{ . | quote }}
    {{ end -}}

{{ end -}}
