{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

DNF_CMD=$(which dnf)
APT_GET_CMD=$(which apt-get)
  
if [[ ! -z $DNF_CMD ]]; then
{{ range .packages.linux.dnfs -}}
dnf install {{ . | quote }}
{{ end -}}
elif [[ ! -z $APT_GET_CMD ]]; then
{{ range .packages.linux.apts -}}
apt get {{ . | quote }}
{{ end -}}
 else
    echo "error can't install package $PACKAGE"
    exit 1;
 fi
EOF
{{ end -}}
