# PowerShell script to initialize setup for a Windows machine

Write-Host -ForegroundColor Cyan "Starting Windows machine setup..."


{{ range $setup, $value := .setups }}

  {{ if $value }}

        # Winget Packages
        {{- range index $.packages $setup "windows" "winget" -}}
            winget install -e --disable-interactivity --silent --accept-source-agreements --accept-package-agreements --id {{ . | quote }}
        {{ end -}}

        {{- range index $.packages $setup "windows" "pips" -}}
            pip install {{ . | quote }}
        {{ end -}}

        {{ range index $.packages $setup "windows" "pnpm" }}
            pnpm install -g {{. | quote }}
        {{ end }}

  {{ end }}

{{ end }}



Write-Host -ForegroundColor Magenta "Windows machine setup completed."
