# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}


{{- $email := promptString "Git email address for the author/committer (Default: Laith@tmobi.link)" }}
{{- if not $email }}{{ $email = "Laith@tmobi.link" }}{{ end -}}


{{- $name := promptString "Git name for the author/committer (Default: Laith Yousif)" }}
{{- if not $name }}{{ $name = "Laith Yousif" }}{{ end -}}


{{- $editor := promptStringOnce . "editor" "Editor (code/nano, default code)" -}}
{{- if not $editor }}{{ $editor = "code" }}{{ end -}}
{{- $keepassxcdb := promptStringOnce . "keepassxcdb" "KeepassXC DB Path (default .keepassxc/chezmoi.kdbx) " -}}
{{- if not $keepassxcdb }}{{ $keepassxcdb = ".keepassxc/chezmoi.kdbx" }}{{ end -}}


{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}

{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := true -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}


{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}


# The values exist below

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age14t6vfqtd0f2z9gth0tsnw3qwh6nxgkvem5exjzs3x9juyp5659wqh47sfw"


[data]
    email = "{{ $email }}"
    name = "{{ $name }}"
    osid = {{ $osid | quote }}
    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}
    personal = {{ $personal }}

[edit]
command = {{ $editor }}
args = ["--wait"]

[keepassxc]
database = {{ $keepassxcdb }}
args = ["--no-password"]
prompt = false

