# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

# {{- $email := promptString "Git email address for the author/committer" }}
# {{- $name := promptString "Git name for the author/committer" }}

{{- $editor := promptStringOnce . "editor" "Editor (code/zed, default code)" -}}
{{- if not $editor }}{{ $editor = "code" }}{{ end -}}
{{- $keepassxcdb := promptStringOnce . "keepassxcdb" "KeepassXC DB Path" -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age14t6vfqtd0f2z9gth0tsnw3qwh6nxgkvem5exjzs3x9juyp5659wqh47sfw"

[gpg]
   recipient = "5EB9D3B80261136A637EEEBBC74F8135C5DB67DA"


[data]
    email = "{{ $email }}"
    name = "{{ $name }}"
    osid = {{ $osid | quote }}

[edit]
command = {{ $editor | quote }}
args = ["--wait"]

[keepassxc]
database = {{ $keepassxcdb | quote }}



[hooks.read-source-state.pre]
{{- if eq .chezmoi.os "windows" }}
command = "powershell"
args = [".local/share/chezmoi/.chezmoiscripts/windows/.install-password-manager.ps1"]
{{ else }}
command = ".local/share/chezmoi/.chezmoiscripts/linux/.install-password-manager.sh"
{{ end -}}
