{{ if eq .chezmoi.os "darwin" -}}
    #!/bin/bash

    brew bundle --no-lock --file=/dev/stdin <<EOF
   

        {{ range .powerful_packages.darwin.brews -}}
            brew {{ . | quote }}
        {{ end -}}

        {{ range .powerful_packages.darwin.casks -}}
            cask {{ . | quote }}
        {{ end -}}


{{ end -}}
