#!/bin/bash
{{ range .packages.powerful.darwin.brews -}}
    brew install {{ . | quote }}
{{ end -}}

{{ range .packages.powerful.darwin.casks -}}
    brew install --cask {{ . | quote }}
{{ end -}}

{{ range .packages.powerful.darwin.pips }}
    pipx install {{ . | quote }}
{{ end }}