eval "$(oh-my-posh init zsh --config https://raw.githubusercontent.com/lnyousif/dotfiles/refs/heads/main/assets/oh-my-posh/theme.omp.json)"

{{- if eq .chezmoi.os "darwin" -}}
{{-   template "darwin/zshrc.tmpl" . -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   template "linux/zshrc.tmpl" . -}}
{{- end -}}