#!/usr/bin/env bash

export PATH="$HOME/.local/bin/:$PATH"

{{ range $setup, $value := .setups }}

  {{ if $value }}

    echo "Install Packages for: {{ $setup }}"

    echo "installing from data packages"

    # Linux self installing packages
    echo "Installing self installing packages"

    {{ range index $.packages $setup "linux" "common" "linux_cmd" }}
      bash -c {{ . | quote }}
    {{ end }}

    # Native packages

    {{ if or (eq $.osid "linux-debian") (eq $.osid "linux-ubuntu") (eq $.osid "linux-debian ubuntu") (eq $.osid "linux-ubuntu debian") }}
        ## Debian
        echo "Installing Debian Packages"

        sudo apt install {{ range index $.packages $setup "linux" "common" "apt" }} {{.}}{{ end }}

        {{ range index $.packages $setup "linux" "common" "apt_junk" }}
        sudo apt remove -y {{ . | quote }}
        {{ end }}

    {{ else if eq $.osid "linux-fedora" }}
        ## Fedora
        echo "Installing RPM packages"

        sudo dnf5 install -y {{ range index $.packages $setup "linux" "common" "apt" }} {{.}}{{ end }}
        {{ range index $.packages $setup "linux" "common" "apt" }}
        sudo dnf5 install -y {{ . | quote }}
        {{ end }}

        {{ range index $.packages $setup "linux" "common" "apt_junk" }}
        sudo dnf5 remove -y {{ . | quote }}
        {{ end }}


    {{ else if eq $.osid "linux-alpine" }}
        ## Alpine
        echo "Installing RPM packages"

        sudo apk add --no-cache {{ range index $.packages $setup "linux" "common" "apt" }} {{.}}{{ end }}
        {{ range index $.packages $setup "linux" "common" "apt" }}
        sudo apk add --no-cache {{ . | quote }}
        {{ end }}

        {{ range index $.packages $setup "linux" "common" "apt_junk" }}
        sudo apk del --no-cache {{ . | quote }}
        {{ end }}


    {{ else if eq $.osid "linux-arch" }}
        ## Arch
        echo "Installing Arch packages"

        sudo pacman -Syu --needed {{ range index $.packages $setup "linux" "common" "apt" }} {{.}}{{end}}

    {{ end }}


    # Python packages
    echo "Installing Python packages with pip"
    {{ range index $.packages $setup "linux" "common" "pips" }}
    pip install {{ . | quote }}
    {{ end }}

  {{ end }}

{{ end }}
