#!/usr/bin/env bash

echo -e "\e[1;34m${LINE}\e[0m"
echo -e "Operating system {{ .osid }}"
echo -e "\e[1;34m${LINE}\e[0m"

curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh |  bash
