# Winget Packages
{{ if eq .features.powerful true -}}
    {{- range .powerful_packages.windows.winget_powerful -}}
    winget install -e --disable-interactivity --silent --accept-source-agreements --accept-package-agreements --id {{ . | quote }}
    {{ end -}}
{{ end -}}
