# Winget Packages
{{ if eq .features.powerful true -}}
    {{- range .packages.powerful.windows.winget -}}
    winget install -e --disable-interactivity --silent --accept-source-agreements --accept-package-agreements --id {{ . | quote }}
    {{ end -}}
{{ end -}}

{{- range .packages.base.windows.pips -}}
pip install {{ . | quote }}
{{ end -}}
