{
    # for non flatpack vscode
    "dev.containers.dockerPath": "podman-host.sh",
    # for flatpack vscode
    "dev.containers.dockerPath": "podman-devcontainer-wrapper",

    "dev.containers.dockerComposePath": "podman-compose-host.sh",
    "workbench.colorTheme": "Abyss"
}