{{ range $setup, $value := .setups }}

  {{ if $value }}

        # Winget Packages
        {{- range index $.packages $setup "windows" "winget -}}
            winget install -e --disable-interactivity --silent --accept-source-agreements --accept-package-agreements --id {{ . | quote }}
        {{ end -}}

        py -m pip install --upgrade pip setuptools wheel

        {{- range index $.packages $setup "windows" "pips" -}}
            pip install {{ . | quote }}
        {{ end -}}

  {{ end }}

{{ end }}