# Winget Packages
{{- range .packages.basic.windows.winget -}}
winget install -e --disable-interactivity --silent --accept-source-agreements --accept-package-agreements --id {{ . | quote }}
{{ end -}}

# Python packages
Write-Host "Installing Python packages with pip"
pip install --upgrade pip setuptools wheel

{{- range .packages.basic.windows.pips -}}
pip install {{ . | quote }}
{{ end -}}
