# Core Git configuration
git config --global commit.gpgsign true
git config --global core.autocrlf false
git config --global core.editor "micro"
git config --global core.trustctime false
git config --global init.defaultBranch main
git config --global merge.ff only
git config --global tag.forceSignAnnotated true
git config --global user.email {{ .email }}
git config --global user.name {{ .name }}
git config --global user.signingkey EA6B1EE06E66135725CCA17ED7101733BB16C507

# Windows-specific GPG configuration
git config --global gpg.program "C:\Program Files (x86)\GnuPG\bin\gpg.exe"

# Diff and merge tools
git config --global diff.tool "micro"
git config --global merge.tool "micro"

Write-Host -ForegroundColor Green "Git is Configured!"
