#!/usr/bin/env bash

#echo "hello"
#echo  {{ (keepassxc "192.168.10.1").UserName }}
#echo  {{ (keepassxc "192.168.10.1").Password }}
#echo "bye"

# Install Nerd font
#oh-my-posh font install Meslo
#oh-my-posh enable autoupgrade


sudo tee -a /usr/local/bin/docker <<EOF
 #!/bin/bash
 exec podman "\$@"
EOF

sudo chmod +x /usr/local/bin/docker