#!/usr/bin/env bash

export PATH="${HOME}/.local/bin:${PATH}"


# Add Cocogitto bash completition
if type -P cog &>/dev/null; then
  mkdir -p ~/.local/share/bash-completion/completions
  cog generate-completions bash >~/.local/share/bash-completion/completions/cog
  echo "Cocogitto bash completition installed"
fi




