#!/usr/bin/env bash
# shellcheck disable=SC2312
set -e
LINE="-------------------------------------------"


  echo -e "\e[1;34m${LINE}\e[0m"
  echo -e "Operating system {{ .osid }}"
  echo -e "\e[1;34m${LINE}\e[0m"

  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh |  bash
  curl -fsSL https://get.pnpm.io/install.sh | sh -

{{ if .superuser }}

if command -v apt &>/dev/null; then
  echo "Debian based system found!"

  {{ .superuser }} apt update -y

elif command -v dnf &>/dev/null; then
  echo "Fedora based system found!"

  # modify dnf settings for faster downloads
  CONF_FILE=/etc/dnf/dnf.conf

  if ! grep -q "max_parallel_downloads=10" "${CONF_FILE}"; then
    echo "max_parallel_downloads=10" | {{ .superuser }} tee -a "${CONF_FILE}"
    echo "dnf downloads are now parallel!"
  fi

  if ! grep -q "fastestmirror=True" "${CONF_FILE}"; then
    echo "fastestmirror=True" | {{ .superuser }} tee -a "${CONF_FILE}"
    echo "dnf downloads are now faster!"
  fi

  # Update System
  {{ .superuser }} dnf update -y

  # Add Repositories
  echo "Setting up repositories"
  {{ .superuser }} dnf -y install dnf-plugins-core

elif command -v pacman &>/dev/null; then
  echo "Arch based system found!"

  if ! grep -q '\[chaotic-aur\]' /etc/pacman.conf; then
    {{ .superuser }} pacman-key --recv-key 3056513887B78AEB --keyserver keyserver.ubuntu.com
    {{ .superuser }} pacman-key --lsign-key 3056513887B78AEB
    {{ .superuser }} pacman -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst'
    {{ .superuser }} pacman -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst'

    {{ .superuser }} echo '[chaotic-aur]' | {{ .superuser }} tee -a /etc/pacman.conf
    {{ .superuser }} echo 'Include = /etc/pacman.d/chaotic-mirrorlist' | {{ .superuser }} tee -a /etc/pacman.conf
    echo "Chaotic AUR Repo added!"
  else
    echo "Chaotic AUR Repo already present."
  fi
  {{ .superuser }} pacman -Syu --noconfirm

elif command -v apk &>/dev/null; then
  echo "Alpine based system found!"

  # Update System
  {{ .superuser }} apk update

  # Add Repositories
  echo "Setting up repositories"
  {{ .superuser }} apk add --no-cache alpine-sdk
else
  echo -e "\e[1;34m${LINE}\e[0m"
  echo -e "\e[1;31mSystem not recognized.\e[0m \e[1;33mPlease ensure code for operating system {{ .osid }} is properly set up.\e[0m"
  echo -e "\e[1;34m${LINE}\e[0m"
fi
{{ end }}
