#!/bin/bash

brew upgrade
brew update


{{ range $setup, $value := .setups }}

  {{ if $value }}

    {{ range index $.packages $setup "darwin" "darwin_cmd" }}
        bash -c {{ . | replace "{arch}" $.chezmoi.arch | quote }}
    {{ end }}


    {{ range index $.packages $setup "darwin" "junk" -}}
        dockutil --no-restart --remove {{ . | quote }} || true
    {{ end -}}

    {{ range index $.packages $setup "darwin" "brews" -}}
        brew install {{ . | quote }}
    {{ end -}}

    {{ range index $.packages $setup "darwin" "casks" -}}
        brew install --cask {{ . | quote }}
    {{ end -}}

    {{ range index $.packages $setup "darwin" "pnpm" }}
        pnpm install -g {{. | quote }}
    {{ end }}

    {{ $.superuser }} pipx ensurepath --global
    {{ range index $.packages $setup "darwin" "pips" -}}
        {{ $.superuser }} pipx install {{ . | quote }} --global
    {{ end }}




  {{ end }}

{{ end }}
brew cleanup
brew autoremove
